---
import { cosmic } from '@/lib/cosmic'

interface Education {
  start_at: string
  end_at: string
  institution: string
  course: string
  institution_logo: {
    url: string
  }
}

const {
  object: { metadata: about }
} = await cosmic.objects
  .findOne({
    type: 'about',
    slug: 'myself'
  })
  .props('slug,title,metadata')
  .depth(1)

const formatDate = (date: string) => {
  return new Date(date).getFullYear()
}
---

<section class="space-y-12 mb-40">
  <h2
    class="caret-accent-foreground flex items-center uppercase text-md text-muted-foreground font-semibold tracking-wide gap-3"
  >
    <span
      class="size-2 inline-block shadow-[0_0_14.8px_0_var(--tw-shadow-color)] shadow-foreground rounded-full bg-foreground"
    ></span> Education
  </h2>

  <div class="space-y-12">
    {
      about.education.map(
        ({
          start_at,
          end_at,
          institution,
          course,
          institution_logo
        }: Education) => (
          <div class="flex flex-col md:flex-row gap-4 md:gap-10">
            <div class="text-muted-foreground min-w-max">
              {formatDate(start_at)} - {formatDate(end_at)}
            </div>
            <div class="flex flex-1 justify-between items-center">
              <div>
                <h3 class="font-medium">{institution}</h3>
                <p class="text-md">{course}</p>
              </div>
              <img
                src={institution_logo.url}
                alt={institution}
                width="45"
                height="45"
              />
            </div>
          </div>
        )
      )
    }
  </div>
</section>
