---
import GradientHeading from "@/components/GradientHeading.astro";
import { Button } from "@/components/ui/button.tsx";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { cosmic } from "@/lib/cosmic";
import { getDuration } from "@/lib/utils";
import TechStack from "./components/TechStack.astro";
import Icon from "@/components/Icon";
import NextProject from "./components/NextProject.astro";

export async function getStaticPaths() {
  const { objects } = await cosmic.objects
    .find({ type: "projects" })
    .props("slug,title,metadata")
    .depth(1);

  return objects.map(({ slug }: { slug: string }) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const { object: project } = await cosmic.objects
  .findOne({ type: "projects", slug })
  .props("slug,title,metadata")
  .depth(1);
---

<SiteLayout>
  <main class="py-16 sm:py-40 space-y-14 px-6">
    <GradientHeading className="text-6xl sm:text-8xl font-semibold text-center"
      >{project.title}</GradientHeading
    >
    <div class="p-6 md:p-20 relative">
      <img
        src="/project_bg.svg"
        alt="laptop frame"
        width="1300"
        height="400"
        class="absolute top-0 left-1/2 -translate-x-1/2"
      />
      <img
        src={project.metadata.thumbnail.url}
        alt={project.title}
        width="1200"
        height="800"
        class="shadow-2xl"
      />
      <div
        class="w-full h-[40rem] rounded-[50%] -bottom-20 bg-indigo-500/10 blur-3xl -z-10 absolute left-1/2 -translate-x-1/2"
      >
      </div>
    </div>

    <section class="text-muted-foreground space-y-10">
      <div class="">
        <h2 class="text-xl font-semibold mb-4 text-foreground">Overview</h2>
        <p>{project.metadata.overview}</p>
      </div>
      <div class="flex flex-col md:flex-row gap-10">
        <div class="flex-1 space-y-12">
          <div>
            <h2 class="text-xl font-semibold mb-4 text-foreground">Features</h2>
            <ul class="list-disc list-inside">
              {
                project.metadata.features.map((feature: string) => {
                  return <li>{feature}</li>;
                })
              }
            </ul>
          </div>
          <div>
            <h2 class="text-xl font-semibold mb-4 text-foreground">Timeline</h2>
            <p>
              {
                getDuration(
                  project.metadata.started_on,
                  project.metadata.ended_on
                )
              } months,
              <span class="text-foreground">Deployed in May 2024.</span>
            </p>
          </div>
        </div>

        <div class="flex-1 space-y-14">
          <div>
            <h2 class="text-xl font-semibold mb-4 text-foreground">
              Challenges
            </h2>
            <ul class="list-disc list-inside">
              {
                project.metadata.challenges.map((challenge: string) => {
                  return <li>{challenge}</li>;
                })
              }
            </ul>
          </div>
          <TechStack techs={project.metadata.tech_stack} />
          <div class="sm:space-x-4">
            <a href={project.metadata.live_link}>
              <Button variant={"secondary"}
                ><Icon iconName="FiGlobe" client:load />Visit Site</Button
              >
            </a>
            <a href={project.metadata.github_repo}>
              <Button variant={"secondary"}
                ><Icon iconName="FiGithub" client:load />View on Github</Button
              >
            </a>
          </div>
        </div>
      </div>
    </section>
    <hr class="border border-border" />
    <NextProject next={project.metadata.next_project} />
  </main>
</SiteLayout>
